ion-content{
  background: #fec8c1;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-toolbar{
  --background: white;
}
ion-card-content{
  --background: #fec8c1;
}