<ion-toolbar>

  <h3 style = "font-family: times; color: black; text-align: center">
   Create
  </h3>
  </ion-toolbar>
<ion-content fullscreen = "true"  scroll-y="false" style = "--background: white">
  <ion-card *ngFor="let article of data1" class = "content" style = "--background: #f9caa7; box-shadow: none;">
    <!-- <ion-img [src]="article.urlToImage"></ion-img> -->

    <ion-card-header>
      <ion-card-title style = "font-family: avenir; font-size: 26px">{{article.Name}}</ion-card-title>
      <ion-card-subtitle style = "color:  black; font-family: avenir; font-size: 13px">{{'Chef ' + article.Chef}}</ion-card-subtitle>
    </ion-card-header>
      <ion-card-content>
        <h4 style = "color: #86858A; font-family: avenir; font-size: 18px" style = "color: #86858A; font-family: avenir; font-size: 18px">
        {{'Ingredients: ' + article.Ingredients}}
      </h4>
      <br>
      <h4 style = "color: #86858A; font-family: avenir; font-size: 18px">
        {{'Instructions: ' + article.Instructions}}
      </h4>
      <br>
    </ion-card-content>
    
  </ion-card>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark" routerLink="/create">
      <ion-icon name = "add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
