<ion-menu side="start" menuId="first" contentId="content1">
      <ion-header>
        <ion-toolbar style = "--background: black;">
          <ion-title><img height = 90px width = 90px src="assets/Asset 15.svg" style = "margin-left: 30%; margin-top: 2%"/></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward">
                 {{pages.title}} 
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
        <ion-item (click) = "logout()">
          Logout
   </ion-item>
      </ion-content>
    </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>