$card-ios-margin-left: 0;
$card-ios-margin-right: 0;
$card-ios-margin-top: 0;
$card-ios-margin-bottom: 0;
$card-wp-margin-left: 0;
$card-wp-margin-right: 0;
$card-wp-margin-bottom: 0;
$card-wp-margin-top: 0;