
  <ion-toolbar style = "box-shadow: none;">
  <ion-title>
    <ion-row style = "margin-top: 8%">
      <ion-col>
          <ion-icon name="chevron-back-sharp" size ="large" routerLink = "/tabs/tabs/tab1"></ion-icon>
        </ion-col>
  <ion-col>
  <p style = "font-family: times; text-align: center; font-size: 20px; color: black; margin-top: 2%">
  <b> 
    Recent Recipes
  </b>
  
</p>

</ion-col>
<ion-col>

</ion-col>
</ion-row>
  </ion-title>
  </ion-toolbar>


<ion-content [fullscreen]="true" class = "body">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-card *ngFor="let article of data" class = "content" style = "--background: #f9caa7; box-shadow: none;">
    <!-- <ion-img [src]="article.urlToImage"></ion-img> -->

    <ion-card-header>
        <ion-icon size = "small" name="close" (click)= "delete(article.time)"></ion-icon>
      <ion-card-title style = "font-family: avenir; font-size: 26px">{{article.Name}}</ion-card-title>
      <ion-card-subtitle style = "color:  black; font-family: avenir; font-size: 13px">{{'Chef ' + article.Chef}}</ion-card-subtitle>
    </ion-card-header>
      <ion-card-content>
        <h4 style = "color: #86858A; font-family: avenir; font-size: 18px" style = "color: #86858A; font-family: avenir; font-size: 18px">
        {{'Ingredients: ' + article.Ingredients}}
      </h4>
      <br>
      <h4 style = "color: #86858A; font-family: avenir; font-size: 18px">
        {{'Instructions: ' + article.Instructions}}
      </h4>
      <br>
    </ion-card-content>
       <br>
      <ion-button expand = "block" (click) = "save(article, article.time)" style = "--background: #fe9c8f; --box-shadow: none; color: white; font-family: lato; font-size: 15px">
        Save
      </ion-button>
    
  </ion-card>

</ion-content> 
<script>
  const button = document.querySelector('ion-button');
  button.addEventListener('click', handleButtonClick);

  async function handleButtonClick() {
    const toast = await toastController.create({
      color: 'dark',
      duration: 2000,
      message: 'Paired successfully',
      showCloseButton: true
    });

    await toast.present();
  }
</script>